<footer class="bg_img">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto text-center py-5">
                <h4 class="footer_title">Subscribe to <span>Our Newsletter</span></h4>
                <p class="text-white">No spam message from us, only give you latest offer which is best for you and your business</p>
                <div class="col-md-12 mx-auto">
                    <div class="">
                        <form class="bg-input">
                            <div class="form-group pt-3 row no-gutters ">
                                <div class="col-sm-9 px-0">
                                    <input type="type" class="form-control" id="inputPassword" placeholder="Your email address...">
                                </div>
                                <div class="col-sm-3 pl-3">
                                    <button class="btn btn-outline-danger">Subscribe Now</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <hr style="border-top: 1px solid #687180;padding-bottom: 50px;">
                    </div>
                    <div class="col-md-3">
                        <h3 class="footer_title_second"> Get in touch</h3>
                        <div class="address">
                            <div class="d-inline">
                                <i class=" icon_footer fa fa-map-marker" aria-hidden="true"></i>
                            </div>
                            <address class="text-white d-inline ">Themeforest, Envanto HQ
                                24 Fifth st., Los Angeles, USA</address>
                        </div>
                        <div class="address pt-3">
                            <div class="d-inline">
                                <i class="icon_footer fa fa-envelope-o" aria-hidden="true"></i>>
                            </div>
                            <div class="text-white font-weight-bold d-inline ">rahulsharmawebs@gmail.com</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>