 /*
font-family: 'Sen', sans-serif;
    <a href="#" class="btn round btn-theme">join now</a>
    <a href="#" class="btn btn-orange">join now</a>
    <a href="#" class="btn btn-gradient">join now</a>
    <a href="#" class="btn round-lg btn-orange btn-lg">join now lg <span class="icon"><i class="ti-angle-right"></i></span></a>
    <a href="#" class="btn round-xl btn-light btn-xl">join now xl <span class="icon"><i class="ti-angle-right"></i></span></a>
*/
 
 // body start
 body {
     color: #363636;
     background-color: #f8f8f8;
     margin: 0px;
     font-weight: 300;
     padding: 0px;
     font-family: 'Sen', sans-serif;
     font-size: $base-font-size;
     overflow-x: hidden;
     @media #{$mq-xxlarge} {
         font-size: $base-font-size*1.1;
     }
     @media #{$mq-fullhd} {
         font-size: $base-font-size*1.2;
     }
     @media #{$mq-2k} {
         font-size: $base-font-size*1.4;
     }
     @media #{$mq-4k} {
         font-size: $base-font-size*1.5;
     }
 }
 
 .vertical-divider {
     &:after {
         content: '';
         @include position(absolute, 20% 50% null null);
         margin-right: -2px;
         height: 60%;
         width: 4px;
         background-color: $black;
         display: block;
     }
 }
 
 * {
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
 }
 
 a {
     color: #363636;
     &:hover {
         color: #222;
         text-decoration: none;
     }
 }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 .h1,
 .h2,
 .h3,
 .h4,
 .h5,
 .h6,
 label {
     font-family: 'Libre Baskerville', serif;
     font-weight: 300;
     color: $black;
 }
 
 @media #{$mq-xlarge} {
     h1,
     .h1 {
         font-size: $base-font-size*3;
     }
     h2,
     .h2 {
         font-size: $base-font-size*2.5;
     }
     h3,
     .h3 {
         font-size: $base-font-size*2;
     }
     h4,
     .h4 {
         font-size: $base-font-size*1.75;
     }
     h5,
     .h5 {
         font-size: $base-font-size*1.5;
     }
     h6,
     .h6 {
         font-size: $base-font-size*1.25;
     }
 }
 
 @media #{$mq-fullhd} {
     h1,
     .h1 {
         font-size: $base-font-size*3.75;
     }
     h2,
     .h2 {
         font-size: $base-font-size*3.25;
     }
     h3,
     .h3 {
         font-size: $base-font-size*2.65;
     }
     h4,
     .h4 {
         font-size: $base-font-size*2.1;
     }
     h5,
     .h5 {
         font-size: $base-font-size*1.7;
     }
     h6,
     .h6 {
         font-size: $base-font-size*1.5;
     }
 }
 
 canvas[resize] {
     width: 100%;
     height: 100%;
 }
 
 section {
     width: 100%;
 }
 
 .scroll-top-bottom {
     width: 50px;
     height: 50px;
     position: absolute;
     opacity: 0;
     right: 30px;
     background: transparent;
     bottom: 30px;
     cursor: pointer;
     z-index: 500;
     &.white .arrow-cone {
         border-color: #fff!important;
     }
     &.white .animate-line {
         background-color: #fff!important;
     }
 }
 /* Safari 4.0 - 8.0 */
 
 @-webkit-keyframes downMove {
     0% {
         top: 0px;
         height: 0px;
     }
     100% {
         bottom: 20px;
         height: 20px;
     }
 }
 
 @keyframes downMove {
     0% {
         top: 0px;
         height: 0px;
     }
     100% {
         bottom: 20px;
         height: 20px;
     }
 }
 /* Safari 4.0 - 8.0 */
 
 @-webkit-keyframes upMove {
     0% {
         bottom: 20px;
         height: 20px;
     }
     100% {
         top: 0px;
         height: 0px;
     }
 }
 
 @keyframes upMove {
     0% {
         bottom: 20px;
         height: 20px;
     }
     100% {
         top: 0px;
         height: 0px;
     }
 }
 
 @media #{$mq-small} {
     .heading-xl {
         font-size: 3.5rem;
     }
     .heading-lg {
         font-size: 2.75em;
     }
     .heading-md {
         font-size: 2em;
     }
     .heading-sm {
         font-size: 1.5em;
     }
 }
 
 @media #{$mq-xlarge} {
     .heading-xl {
         font-size: 4.5rem;
     }
     .heading-lg {
         font-size: 3.75em;
     }
     .heading-md {
         font-size: 3em;
     }
     .heading-sm {
         font-size: 2em;
     }
 }
 
 @media #{$mq-fullhd} {
     .heading-xl {
         font-size: 5rem;
     }
     .heading-lg {
         font-size: 4em;
     }
     .heading-md {
         font-size: 3.25em;
     }
     .heading-sm {
         font-size: 2.5em;
     }
 }
 
 .container {
     z-index: 1;
     max-width: 1280px!important;
     @media #{$mq-xxlarge} {
         max-width: 1280px;
     }
     @media #{$mq-xxxlarge} {
         max-width: 1350px;
     }
     @media #{$mq-fullhd} {
         max-width: 1500px;
     }
 }
 /* ----------------------------------------------
 * Generated by Animista on 2020-5-21 12:51:40
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
 /**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
 
 @-webkit-keyframes slide-top {
     0% {
         -webkit-transform: translateY(0);
         transform: translateY(0);
     }
     100% {
         -webkit-transform: translateY(-100px);
         transform: translateY(-100px);
     }
 }
 
 @keyframes slide-top {
     0% {
         -webkit-transform: translateY(20);
         transform: translateY(49px);
     }
     100% {
         -webkit-transform: translateY(-5px);
         transform: translateY(-5px);
     }
 }
 
 //  second=========================
 @-webkit-keyframes slide-top_banner {
     0% {
         -webkit-transform: translateY(0);
         transform: translateY(0);
     }
     100% {
         -webkit-transform: translateY(-100px);
         transform: translateY(-100px);
     }
 }
 
 @keyframes slide-top_banner {
     0% {
         -webkit-transform: translateY(300px);
         transform: translateY(300px);
     }
     100% {
         -webkit-transform: translateY(-5px);
         transform: translateY(-5px);
     }
 }
 
 //  section_title  scss
 .section_title {
     .first_title {
         font-family: "Open Sans", Arial, Helvetica, sans-serif;
         font-weight: 700;
         text-transform: uppercase;
         font-size: 50px;
         line-height: 50px;
         color: #eff1f3;
         margin-bottom: -30px;
     }
     .second_title {
         font-family: "Playball", Arial, Helvetica, sans-serif;
         font-weight: 400;
         font-size: 48px;
         line-height: 55px;
         color: #283d58;
     }
 }
 
 //  overlay
 .overlay {
     position: absolute;
     width: 100%;
     height: 100%;
     @include position(absolute, 0 0 0 0);
     background-color: rgba(23, 64, 100, 0.9);
     z-index: 1;
 }
 
 .z-inex {
     z-index: 100;
 }
 
 //  
 .products {
     .card {
         .cart-bg {
             @include position(absolute, null 0 0 0);
             @include transform(translateY(40px));
             background-color: #ff3d55;
             transition: all 0.5s ease;
             .cart_color {
                 color: #fff;
                 &:hover {
                     text-decoration: none;
                 }
             }
         }
         .pro_data {
             .pro_name {
                 padding: 0;
                 margin: 0;
                 font-size: 18px;
                 font-weight: 600;
                 padding-bottom: 0;
                 padding-top: 4px;
             }
             .reting_icon {
                 span {
                     font-size: 12px;
                     color: #ff3d55;
                 }
             }
             .pro-price {
                 font-size: 18px;
                 font-weight: 700;
                 color: #ff3d55;
             }
         }
         &:hover {
             .scale {
                 transform: scale(1.1);
                 transition: 0.5s ease;
                 cursor: pointer;
             }
             .cart-bg {
                 @include transform(translateY(0px));
             }
         }
     }
 }
 
 //  BOLG TITLE
 %blog_title {
     margin-top: 0;
     margin-bottom: 4px;
     font-size: 20px;
     line-height: 27px;
     font-weight: 600;
 }