<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="assets/images/logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto pr-4">
                <li class="nav-item ">
                    <a class="nav-link " routerLink="/" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/portfolio" routerLinkActive="active">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/service" routerLinkActive="active">Service details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Our Events</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0 text-white line_nav d-flex">
                <div class="searchBox px-2 align-self-center ">
                    <input class="searchInput" type="text" name="" placeholder="Search">
                    <button class="searchButton" href="#">
                           <i class="material-icons">
                              <i class="fa fa-search sexrch_bg sexrch_bg" aria-hidden="true"></i>
                           </i>
                   </button>
                </div>
                <div class=" cart_bg d-flex ">
                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                    <div class="cart-caount ">
                        <span class="align-self-center cart-caount-n">
                            0
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>

<app-footer></app-footer>