<section class="py-5">
    <div class="container-fluid px-0 clientsfeedback">
        <div class="row no-gutters pb-5">
            <div class="col-md-6 d-md-block d-none">
                <img class="img-fluid" src="assets/images/img2.jpg" alt="">
            </div>
            <div class="col-md-6 position-relative">

                <div class="clientsfeedback_right" style="background-image: url('assets/images/img3.jpg');">
                    <div class="overlay"></div>
                    <div class="col-md-12 px-0 section_title z-inex ">
                        <div class="pb-4 text-client ">
                            <h4 class="first_title">TESTIMONAL</h4>
                            <h4 class="second_title"> Clients feedback</h4>
                        </div>
                        <div class="row pl-md-5 mx-auto">
                            <div class="col-md-8 clientsfeedback_text">
                                <ngx-slick-carousel class="carousel container-fluid px-0 testiamonial_slider" #slickModal="slick-carousel" [config]="slideConfig">
                                    <div ngxSlickItem *ngFor="let clientsfeedback of clientsfeedback_slider" class="slide position-relative">
                                        <div class="col-md-10 slide-text">
                                            <p>{{ clientsfeedback.clientfeedback}}</p>
                                        </div>
                                    </div>
                                </ngx-slick-carousel>
                            </div>
                            <div class="col-md-6 clientsfeedback_text">
                                <ngx-slick-carousel class="carousel container-fluid px-0 thums" #slickModal="slick-carousel" [config]="slideConfig_secund">
                                    <div ngxSlickItem *ngFor="let clientsfeedback of clientsfeedback_slider" class="slide position-relative">
                                        <div class="col-md-2 slide-img">
                                            <img src="{{clientsfeedback.slide_img}}" alt="">
                                        </div>
                                    </div>
                                </ngx-slick-carousel>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>