<section class="py-5">
    <div class="container">
        <div class="row  blog ">
            <div class="col-md-12 px-0 section_title">
                <div class="text-center col-md-6 mx-auto pb-4">
                    <h4 class="first_title">ATTENDED WITH US </h4>
                    <h4 class="second_title">Our Latest News/ Blog</h4>
                    <p>Printing and typesetting industry. Lorem Ipsum has been the industry’type specimen bookorem Ipsum is simply</p>
                </div>
            </div>
            <!-- section title close -->
            <div class="col-md-8">
                <div class="com-md-8  pb-4" *ngFor="let blog_details of  old_blog">
                    <div class="row no-gutters  border-left-0">
                        <div class="col-md-6">
                            <div class="blog_img">
                                <img class="img-fluid" src="{{blog_details.img}}" alt="img">
                            </div>
                        </div>
                        <div class="col-md-6 pt-3 px-3 border">
                            <div class="row">
                                <div class="blog-time col-2 text-center">
                                    <h4 class="date mb-0">{{blog_details.date}}</h4>
                                    <p class="month">{{blog_details.month}}</p>
                                </div>
                                <div class="col-10 pl-0">
                                    <a href="#" class="blog_tile">
                                            {{blog_details.blog_title}}
                                        </a>
                                </div>
                                <div class="col-12 pr-4">
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id, ipsa minus beatae aut error aspernatur temporibus hic! Molestias iusto ab odio </p>
                                    <div class="pt-2">
                                        <button class="btn btn-outline-danger">Read More</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- col-md-8 left close  -->
            <div class="col-md-4" *ngFor="let blog_letest of  letest_blog">
                <div class="blog_img border">
                    <img src="{{blog_letest.img}} " alt=" ">
                    <div class="row  no-gutters pl-3 py-3">
                        <div class="blog-time col-2 text-center">
                            <h4 class="date mb-0">{{blog_letest.date}}</h4>
                            <p class="month">{{blog_letest.month}}</p>
                        </div>
                        <div class="col-10 pl-0">
                            <h4>
                                <a href="#" class="blog_tile">
                                {{blog_letest.blog_title}}
                            </a>
                            </h4>
                        </div>
                        <div class="col-12 pr-4">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id, ipsa minus beatae aut error aspernatur temporibus hic! Molestias iusto ab odio </p>
                            <div class="pt-2">
                                <button class="btn btn-outline-danger">Read More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>