.delivery {
    background-color: #ff3d55;
    padding: 3rem;
    .icons_size {
        font-size: 51px;
        color: white;
    }
    .title {
        color: white;
        font-weight: 600;
        font-size: 25px;
    }
    .title_second {
        color: white;
    }
}