<section class="pt-5">
    <div class="cotainer-fluid px-0 delivery">
        <div class="container">
            <div class="row mx-auto">
                <div class="col-md-4" *ngFor="let delivery of  delivery_fa">
                    <div class="row">
                        <div class="col-2 align-self-center">
                            <i class="{{delivery.icon_delivery}} icons_size" aria-hidden="true"></i>
                        </div>
                        <div class="col-10">
                            <h4 class="title mb-1">{{delivery.deliverfeatures}}</h4>
                            <p class="mb-0 title_second">{{delivery.deliverfeatures_p}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>