<section class="py-5">
    <div class="container offer">
        <div class="row">
            <div class="col-md-5">
                <div class="overflow-hidden">
                    <img class="img-fluid w-100 offer_img " src="{{offer_img_first}}" alt="offer_img_first">
                </div>
            </div>
            <div class="col-md-7 d-flex">
                <div class="d-flex flex-column justify-content-between">
                    <div class="row h-50">
                        <div class="col-md-12 d-flex">
                            <div class="overflow-hidden">
                                <img class="img-fluid w-100 offer_img " src="{{offer_img_second }}" alt="offer_img_second">
                            </div>
                        </div>
                    </div>
                    <div class="row h-50 justify-content-between pt-3">
                        <div class="col-md-8 d-flex">
                            <div class="overflow-hidden">
                                <img class="img-fluid w-100 offer_img " src="{{offer_img_third }}" alt="offer_img_second">
                            </div>
                        </div>
                        <div class="col-md-4 d-flex">
                            <div class="overflow-hidden scale">
                                <img class="img-fluid w-100 offer_img " src="{{offer_img_fourth }}" alt="offer_img_second">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>